/*
* Color variable: --Newsweek-red = #f72210
*
*/
:root {
  --Newsweek-red: #f72210;
}

.container-fluid {
  max-width: 1310px;
  min-width: 320px;
}

.red {
  background-color: var(--Newsweek-red);
}

.red-text {
  color: var(--Newsweek-red);
}

.white {
  background-color: white;
}

.main-header {
  height: 50px;
}

.header-links > a {
  font-size: 12px;
  height: 26px;
}

.header-signin {
  width: 51px;
}

.header-subscribe {
  width: 73px;
}

.svg-image {
  height: 20px;
}

@media screen and (min-width: 992px) {
  .main-header {
    height: 95px;
  }

  .svg-image {
    height: 75% !important;
  }
}
