/*
* Color variable: --Newsweek-red = #f72210
*
*/
:root {
  --Newsweek-red: #f72210;
}

body {
  font-family: arial, sans-serif;
  background-color: #f4f5f6;
}

.container-fluid {
  max-width: 1310px;
  min-width: 320px;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.red {
  background-color: var(--Newsweek-red);
}

.red-text {
  color: var(--Newsweek-red);
}

.white {
  background-color: white;
}

.main-header {
  height: 50px;
}

.header-links > a {
  font-size: 12px;
  height: 26px;
  min-width: 56px;
}

.header-signin {
  width: 51px;
}

.header-subscribe {
  width: 73px;
}

@media screen and (min-width: 481px) {
  .header-links > a {
    font-size: 16px;
  }

  .header-signin {
    width: 81px;
  }

  .header-subscribe {
    width: 126px;
  }
}

.svg-image {
  height: 20px;
}

@media screen and (min-width: 992px) {
  .main-header {
    height: 95px;
  }

  .svg-image {
    height: 75% !important;
  }
}

.nav-link {
  letter-spacing: -0.02rem;
}
